<!-- src/main/resources/templates/index.html -->
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Sensor Data</title>
    <meta http-equiv="refresh" content="5"> <!-- Auto refresh every 5 seconds -->
</head>
<body>
    <h1>Sensor Data:</h1>
    <div th:if="${sensorData != null}">
        <div class="sensor-card">
            <h3>Temperature</h3>
            <p th:text="${sensorData.temperature} + ' °C'">25.0 °C</p>
        </div>
        <div class="sensor-card">
            <h3>Humidity</h3>
            <p th:text="${sensorData.humidity} + ' %'">1013.25 hPa</p>
        </div>
        <div class="sensor-card">
            <h3>Light</h3>
            <p th:text="${sensorData.light} + ' Lux'">65.0 %</p>
        </div>
        <div class="sensor-card">
            <h3>Soil Moisture</h3>
            <p th:text="${sensorData.soilMoisture} + ' %'">100.0 KOhms</p>
        </div>
    </div>
    <div th:unless="${sensorData != null}">
        <p>Waiting for sensor data...</p>
    </div>
</body>
</html>