.sch-weekly-tasks {
    background-color: #fff;
    padding: 20px;
    border-radius: 12px;
    box-sizing: border-box;
    height:100px;
  }
  
  .sch-weekly-tasks h3 {
    margin-top: 0;
    color: #27ae60;
    font-size: 25px;
    font-weight: bold;
  }
  
  .sch-weekly-tasks p {
    margin: 0px 0;
    color: #394653;
    font-size: 14px;
    margin-bottom: -5px;
    margin-top: -10px;
  }

  .sch-weekly-title {
    margin: 0;
    color: #2c3e50;
    font-size: 18px;
    font-weight: bold;
  }
  
  .sch-weekly-date {
    margin: 5px 0 0px 0;
    color: #666;
    font-size: 14px;
  }
  
  .sch-task-item {
    background-color: #fff;
    border-radius: 8px;
    padding: 15px;
    margin-bottom: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
    height: 150px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 25px;
    width: 100%;
  }
  
  .sch-task-item .sch-task-name {
    margin: 0;
    color: #2c3e50;
    font-size: 18px;
    font-weight: bold;
  }
  
  .sch-task-item  .sch-task-date {
    margin: 5px 0;
    color: #666;
    font-size: 12px;
  }
  
  .sch-task-item .sch-task-area {
    margin: 0;
    color: #666;
    font-size: 14px;
  }
  
  .sch-no-tasks {
    color: #666;
    font-style: italic;
    text-align: center;
    margin: 20px 0;
    font-size: 14px;
  }
  
  .view-more-task {
    background-color: #B6CEA6;
    color: #34772e;
    padding: 10px 20px;
    border: none;
    border-radius: 20px;
    font-size: 15px;
    font-weight: bold;
    cursor: pointer;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    gap: 5px;
    margin: 0 auto;
    margin-top: 20px;
  }
  
  .view-more-task:hover {
    background-color: #e0e8d7;
  }